<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>wa-communicate Email</title>
	<style type="text/css">
		body {
			Margin: 0;
			padding: 0;
			background: #f6f9fc;
		}
		table {
			border-spacing: 0;
		}
		td {
			padding: 0;
		}
		img {
			border: 0;
		}

		@media screen and (max-width: 600px) { 
		}
		@media screen and (max-width: 400px) { 
		}
	</style>
</head>
<body>
	<center style="width: 100%;table-layout: fixed;background-color: #f6f9fc;">
		<div style="max-width: 600px;background-color: #FFFFFF;">
			<table style="Margin:0 auto;width: 100%;max-width:600px;font-family: sans-serif;color: #4a4a4a;" align="center">
				
				<tr>
					<td style="background-color: #FFC200;padding:10px;">
						<h2 
						style="background-color: black;float:left;color:white;padding:6px 6px 6px 30px; margin-left:-10px;margin-top:8%;font-size: 15px;text-transform: uppercase;"
						>WELCOME {{ name }},</h2>
                        <a href="https://wa-communicate.com" style="float: right;"><img src="https://1.bp.blogspot.com/-ViT7mKp30cQ/YDPN1sSabMI/AAAAAAAAAms/ZxiKjonjmgA2lBxzFN2trbObdupGG_BtwCLcBGAsYHQ/s320/wa-comm-logo.png" alt="wacom-logo" title="waPatron" style="height: 120px;width: auto;"></a>
					</td>
				</tr>

				<tr>
					<td style="background-color: #FFC200;padding: 10px;text-align: center;">
						<h3 style="font-size: 16px;font-weight: bold;text-align: center;color: black;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            WELCOME ABOARD WALULEL’S GEOSOCIAL PLATFORM<br/>
                            <span style="font-size:23px;font-weight: bold;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> WACOMMUNICATE </span>
						</h3>
					</td>
				</tr>

				<tr>
					<td style="padding:0px 10px;text-align: center;">
						<h4 style="color:#FFC200;font-size:30px;margin:3px 0;overflow: hidden;font-weight: 400;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
							<img 
                                src="https://1.bp.blogspot.com/-kphVT-4_tGk/YDO_YbkO8aI/AAAAAAAAAlY/bNLDLCyazQIOQiDXhnBCvK54m57VULJvACLcBGAsYHQ/s320/question%2B%25282%2529.png" 
                                alt="support"
                                style="width: 40px;height: auto;"
							> What does it do?
						</h4>
					</td>
				</tr>

				<tr>
					<td style="padding:0px 20px;">
						<p style="font-size: 14px; text-align: center; color: #25383C;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
							This platform provides a social network for buildings and enables easy
                            communication and accessibility to information between Building Managers and
                            Tenants and also allows Building Managers to better manage their properties
                            while creating valuable neighbourhood connections.
						</p>
					</td>
				</tr>

				<tr>
					<td style="padding:0;">
						<table width="100%" style="border-spacing: 0;">
							<tr>
								<td style="border: 18px solid #9e1607bd;padding: 1.5rem;text-align: center;">
									<table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td>
                                                <a href="#"><img 
                                                src="https://1.bp.blogspot.com/-AXql4KqD_ng/YDO_Y14PddI/AAAAAAAAAlg/wSFVyD7Jnj0IG3wW87JtLby8O1q-bkCgQCLcBGAsYHQ/s320/schedule.png" 
                                                alt="boards"
                                                style="height: auto;width: 80px;"
                                                ></a>
                                            </td>
                                        </tr>
										<tr>
											<td>
												<h4 style="margin:0;color:#FFC200;font-size:23px;font-weight:500;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">How do I create a board?</h4>
											</td>
										</tr>
                                        <tr>
                                            <td>
                                                <p style="font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                                    Choose the board type, enter board name, add
                                                    description, choose board visibility & access days, map
                                                    out boundary area.                                                    
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
											<td>
												<h4 style="margin:0;color:#FFC200;font-size:23px;font-weight:500;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">How do I populate the board with my people?
                                                </h4>
											</td>
										</tr>
                                        <tr>
                                            <td>
                                                <p style="font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                                    Click on board to invite people, click on ''invite
                                                    members'', type in e-mails of persons & click on ''send
                                                    invitation''. Board will be populated as people are join
                                                    the board.                                                   
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
											<td>
												<h4 style="margin:0;color:#FFC200;font-size:23px;font-weight:500;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">How do I create a townhall meeting?
                                                </h4>
											</td>
										</tr>
                                        <tr>
                                            <td>
                                                <p style="font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                                    Click on the ''townhall tab'', Click on ''create townhall meeting'',
                                                    enter the title & a brief description, meeting start, end date &
                                                    time and finally click on ''create town hall meeting.''
                                                </p>
                                            </td>
                                        </tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
                <tr>
                    <td style="text-align: center;padding-top: 10px;">
                        <a href="#"><img 
                        src="https://1.bp.blogspot.com/-9UZe_FYYwLY/YDPH_cba6SI/AAAAAAAAAmQ/IvsI1KYlPPwC4a7kh7sODoNjmoHujbvMgCLcBGAsYHQ/s320/writing_logo.png" 
                        alt="writing"
                        style="height: auto;width: 80px;"
                        ></a>
                    </td>
                </tr>
				<tr>
					<td style="padding: 0px 10px;text-align: center;">
						<p style="font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 400;">
                            You can also find further guidance and information about the product
                            and its features by clicking this button
                            
						</p>
					</td>
				</tr>

				<tr>
					<td style="padding: 10px;text-align: center;">
						<a 	style="cursor: pointer;text-decoration: none !important; background-color: #00C18B;border-color: #00C18B;color: black;font-size: 18px;font-weight: 1000;padding: 12px 22px;border-radius: 15px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
							href="https://www.canva.com/design/DAEWOWHJDGc/R4BGs9ipNeWAyWpuC21GCQ/view?utm_content=DAEWOWHJDGc&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" target="_blank">
								Feature Guide
						</a>
					</td>
				</tr>
				<tr>
					<td style="padding: 10px;"></td>
				</tr>
				<tr>
					<td style="border: 18px solid #9e1607bd;padding: 1.5rem;text-align: center;">
						<table width="100%" style="border-spacing: 0;">
                            <tr>
                                <td>
                                    <h3 style="margin: 0;font-size: 35px;font-weight: bolder;text-align: center;color: black;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                        Help us get better?
                                    </h3>
                                </td>
                            </tr>
							<tr>
								<td>
									<p style="font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                        We appreciate that technology can sometimes be difficult to adjust to,
                                        therefore we have created channels to ensure you can contribute to our
                                        WaCommunicate platform.
                                     </p>
								</td>
							</tr>
                            <tr>
                                <td style="padding: 10px;text-align: center;">
                                    <a style="cursor: pointer;text-decoration: none !important; background-color: #00C18B;border-color: #00C18B;color: black;font-size: 18px;font-weight: 1000;padding: 12px 22px;border-radius: 15px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
										href="https://form.123formbuilder.com/5590203/" target="_blank">
                                            Give Feedback
                                    </a>
                                </td>
                            </tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="padding: 20px;"></td>
				</tr>

				<tr>
					<td style="background-color:#FFC200;text-align: center;">
						<h5 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><a style="color: black !important;margin-right: 5px;text-decoration: underline;" target="_blank" href="http://staging.wa-communicate.com/help/">FAQS</a> | <a style="color: black !important; text-decoration: underline;margin-left: 5px;" href="mailto:wacommunicatesupport@walulel.com">PRODUCT SUPPORT</a> </h5>
						<h5 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><a style="color: black !important; text-decoration: none !important;" href="tel:0503201786">[+233] 503201786 / 503201722</a></h5>
					</td>
				</tr>
				<tr>
					<td style="background-color:#FFC200;padding:0px 10px;">
						<div style="float:left">
							<h2 
							style="color:black;padding: 4px;font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
							>Keep in touch</h2>
							<h5> 
								<a style="color: white !important; text-decoration: none !important;" href="https://www.facebook.com/WaCommunicate-110523817249320" target="_black"><img src="https://1.bp.blogspot.com/-OPqfwt4b_Ic/YDO_YYUKhXI/AAAAAAAAAlc/BQj0nsT6n9gL0LmH2A-5bAPo1YRQZ2hogCLcBGAsYHQ/s320/facebook%2B%25281%2529.png" style="width: auto; height: 25px; margin-right: 5px;" alt="facebook"/></a>
								<a style="color: white !important; text-decoration: none !important;" href="https://twitter.com/home"><img src="https://1.bp.blogspot.com/-W8MfFjEQAiY/YDO_ZIOsF4I/AAAAAAAAAlk/jRaxB1YInloXDAQAFsjy1iBpdoNPYyG0QCLcBGAsYHQ/s320/twitter-social-logotype.png" alt="twitter" style="width: auto; height: 25px; margin-right: 5px;"/></a>
								<a style="color: white !important; text-decoration: none !important;" href="https://www.linkedin.com/company/11023236/admin/" target="_blank"><img src="https://1.bp.blogspot.com/-cA7YAoM264s/YDO_YdhS5XI/AAAAAAAAAlU/JBwK100K2Jwke2ILY7UpYRqPSnif5WG8QCLcBGAsYHQ/s320/instagram.png" style="width: auto; height: 25px; margin-right: 5px;" alt="instagram" /></a>
							</h5>
						</div>
						<a href="https://walulel.com" target="_blank" style="float: right;">
						    <img src="https://1.bp.blogspot.com/-IYKVtjJycrE/YDO_ZGdEopI/AAAAAAAAAlo/Y4O9snNmwyofOEah4tQqEgO0Fp-3gd62wCLcBGAsYHQ/s320/walulel_black%2B%25281%2529.png" style="width: auto; height: 100px; margin-right: 5px;"/>
                        </a>
				
					</td>
				</tr>

			</table>
		</div>
	</center>
</body>
</html>